.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px 16px;
  }
}

.card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__img {
  width: 280px;
  height: 402px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
    &:hover {
      transform: scale(102%);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
  }
}
.card__title {
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 12px;
  }
}
.card__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #b92f2c;

  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: blue($color: #000000);
  }
}

.card__genres {
  border-right: 2px solid #b92f2c;
  margin-left: 3px;
  margin-right: 3px;
}
