.collection,
.collection__library {
  @media screen and (min-width: 768px) {
    // width: 768px;
    display: flex;
    flex-wrap: wrap;
   
   
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    // width: 1216px;
    gap: 16px;
  }
}
.library__container {
  list-style-type: none;

  @media screen and (min-width: 768px) {
    // width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    // width: 1216px;
    gap: 16px;
  }
}
.card {
  margin: 0;
  width: auto;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    // flex-basis: calc((100% - 32px) / 2);
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    // flex-basis: calc((100% - 32px) / 3);
    width: calc((100% - 32px * 3) / 3);
  }
}

.card__img {
  display: block;
  width: 100%;
  height: 402px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    
    // width: 336px;
    height: 455px;
    &:hover {
      transform:scale(102%);
    }
  }

  @media screen and (min-width: 1280px) {
    object-fit: cover;
    width: 100%;
    height: 574px;
  }
   
}

.card__title {
  padding-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #b92f2c;

  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: blue($color: #000000);
    padding-bottom: 16px;
  }
}

.card__genres {
  border-right: 2px solid #b92f2c;
  margin-right: 3px;
}
