body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  background-color: $footer-bgr;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}

.footer__copy {
  display: block;

  @media screen and (max-width: 767px) {
    margin-bottom: 9px;
  }

  @media screen and (min-width: $tab) {
    display: inline-block;
  }
}

.footer__text {
  color: $footer-font;
  font-size: 14px;
  line-height: calc(16.41 / 14);

  @media screen and (min-width: $tab) {
    font-size: 16px;
    line-height: calc(18.75 / 16);
  }
}

.footer__icon {
  animation: beat 340ms infinite alternate;
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes beat {
  to {
    transform: scale(1.25);
  }
}

.footer__link {
  color: $footer-font;
  transition: $footer-transition;

  &:hover,
  &:focus {
    color: $red-color;
  }
}

.footer__link--underline {
  text-decoration: underline;
}
