.movie__modal.active,
.backdrop-about.active {
  opacity: 1;
  visibility: visible;
}
.backdrop-about {
 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 20;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

     overflow:  hidden;
  &.is-hidden {
        opacity: 0;
        pointer-events: none;
transform: scale(0.2);
    }
}

/* Модалка оформлення */

.movie__modal {
  // opacity: 0;
  // visibility: hidden;
  // overflow-y: scroll;
  min-width: 280px;
  height: 95%;
  padding: 40px 15px;
  position: absolute;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  display: block;
  text-align: center;
  color: #131313;
  background-color: #ffffff;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    overflow: visible;
    height: auto;
    position: fixed;
    width: 704px;
    padding: 40px 32px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 808px;
    padding: 40px 10px;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

img {
  width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
  }
}

//   Кнопки
.btn {
  @media screen and (min-width: 280px) {
    text-align: center;
  }
}

button {
  color: $red-color;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;

  text-align: center;

  padding: 0px;
  width: 111px;
  height: 34px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    height: 38px;
    width: 119px;
  }
  @media screen and (min-width: 1280px) {
    height: 42px;
    width: 134px;
  }
}

.movie__add {
  color: #ffffff;
  background-color: $red-color;
  padding: 0;
  border-color: #ffffff;
  text-align: center;
  width: 125px;
  margin-right: 2px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    width: 158px;
  }
  @media screen and (min-width: 1280px) {
    width: 167px;
    margin-right: 10px;
  }
}

.movie__close {
  position: absolute;
  top: 7px;
  right: 7px;
  margin: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-close {
  fill: #131313;
}

/* оформлення шрифту */

.movie__modal--title {
  font-size: 20px;
  line-height: 23.44px;
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 35.16px;
  }
}

.movie__modal--title,
.movie__add,
.movie__queue,
.info-item--title {
  text-transform: uppercase;
}

//   рейтинг оформлено як кнопку.
.vote-average {
  width: 36px;
  height: 16px;
  color: #ffffff;
  background-color: $red-color;
  border-radius: 5px;
  padding: 1px 9px;
  margin-top: 0px;
  border: none;
}

.overview {
  line-height: 20px;
  margin-bottom: 20px;
}
.slash {
  color: #8c8c8c;
}
.movie__detals--key {
  color: #8c8c8c;
  max-width: 120px;
}
.movie__detals--value {
  @media screen and (min-width: 280px) {
    max-width: 130px;
  }
}

.info-item,
.info-key,
.info-item--title {
  margin-bottom: 8px;
}

.movie__about--modal {
  margin-bottom: 20px;
}

.movie__card {
  text-align: start;
  display: block;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  @media screen and (min-width: 1280px) {
    gap: 20px;
  }
}

.movie__detals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    justify-content: space-around;
    gap: 68px;
  }
  @media screen and (min-width: 1280px) {
    gap: 83px;
  }
}
.movie__info {
  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 375px;
  }
}


