@import './common';

@import './utils/variables';
@import './utils/reset';

@import './header';
@import './modal';
@import './pagination';
@import './addqueue';
@import './cards';
@import './utils/pagination_2';
@import './utils/loaders';
@import './footer';
@import './modal_students';

