.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 30;

}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #e5ff00;
    border-bottom: 16px solid blue;
    width: 4rem;
    height: 4rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }