ul.library__pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  ul.library__pagination > li:not(:last-child) {
    margin-right: 15px;
  }
  
  ul.library__pagination button {
    min-width: 40px;
    height: 40px;
  
    background: #F0F0F0;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    cursor: pointer;
    outline: none;
  }
  
  ul.library__pagination button.button-number,
  ul.library__pagination button.more-pages {
    min-width: 5px;
  
    background: #F7F7F7;
  }
  
  ul.library__pagination button.active-pagination {
    min-width: 40px;
  
    background: #B92F2C;
    border-radius: 5px;
    color: #ffffff;
  }