<header class="header">
  <div class="header-container">
    <nav>
      <ul class="nav">
        <li class="nav-item home">
          <a href="./index.html">Home</a>
        </li>
        <li class="nav-item library">
          <a href="./library.html">My Library</a>
        </li>
      </ul>
    </nav>

    <form class="form">
      <input
        class="header_search-input"
        placeholder="Movie search"
        name="search"
        autocomplete="off"
        type="text"
      />
      <button class="header_search-btn" type="submit">
        <svg class="header_search-btn_icon">
          <use href="/src/images/sprite.svg#search-lg"></use>
        </svg>
      </button>
    </form>

    <div class="header-logo">
      <a class="header_logo-link" href="/src/index.html">
        <svg class="header_logo-icon">
          <use href="/src/images/sprite.svg#film-lg"></use>
        </svg>
        <span class="header-nav_logo-text">Filmoteka</span>
      </a>
    </div>

    <!-- <ul class="add-films">
      <li><a href="#" class="add-films-watched">Watched</a></li>
      <li><a href="#" class="add-films-queue">queue</a></li>
    </ul> -->
  </div>
</header>
