<header class="header">
    <div class="container">
      <a class="logo link" href="./index.html">
        <!-- <svg>
          <use></use>
        </svg> -->
        <span class="logo-text">Filmoteka</span>
      </a>
      <nav>
        <ul class="nav list">
          <li class="nav-item home">
            <a href="./index.html" class="link">Home</a>
          </li>
          <li class="nav-item library">
            <a href="" class="link">My Library</a>
          </li>
        </ul>
      </nav>

      <form>
        <div class="form">
          <input type="text" name="search" placeholder="Movie search" />
          <button type="submit">
            <span class="search-icon"></span>
          </button>
        </div>
      </form>

      <ul class="add-films list">
        <li><a href="" class="add-films-watched link">Watched</a></li>
        <li><a href="" class="add-films-queue link">queue</a></li>
      </ul>
    </div>
  </header>