<header class="header">
  <div class="header-container">
    <nav>
      <ul class="nav">
        <li class="nav-item nav-second">
          <a href="./index.html">Home</a>
        </li>
        <li class="nav-item nav-current">
          <a href="./library.html">My Library</a>
        </li>
      </ul>
    </nav>

    <form class="form">
      <input
        class="header_search-input"
        placeholder="Movie search"
        name="search"
        autocomplete="off"
        type="text"
      />
      <button class="header_search-btn" type="submit">
        <svg class="header_search-btn_icon">
          <use href="/src/images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="header-logo header-library">
      <a class="header_logo-link logo" href="/src/index.html">
        <svg class="header_logo-icon">
          <use href="/src/images/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-nav_logo-text">Filmoteka</span>
      </a>
    </div>

    <ul class="add-films">
      <li>
        <div id="btnWatched" class="add-films-queue active-btn">
          <a href="#">Watched</a>
        </div>
      </li>

      <li>
        <div id="btnQueued" class="add-films-queue">
          <a href="#">queue</a>
        </div>
      </li>
    </ul>
  </div>
</header>
