<div class="footer__backdrop is-hidden">
  <div class="footer__modal">
    <button class="footer__modal--button">
      <svg
        class="modal__icon"
        aria-label="Close button"
        width="18"
        height="18"
      >
        <use href="/src/images/sprite.svg#close"></use>
      </svg>
    </button>
    <p class="team_proj">Filmoteka</p>
    <div class="stump_div">
      <p class="team_producers">
        Team project produced by 
        <span class="team_group">Group 6</span>
      </p>
    </div>
    <ul class="gallery_students"></ul>
  </div>
</div>
