<ul class="pagination">
  <li class="btn-left">
    <svg width="16" height="16">
      <use href="./images/sprite.svg#arrow-left"></use>
    </svg>
  </li>
  <li class="pagination-number second-left"></li>
  <li class="pagination-number first-left"></li>
  <li class="pagination-number current">1</li>
  <li class="pagination-number first-right">2</li>
  <li class="pagination-number second-right">3</li>
  <li class="btn-right">
    <svg width="16" height="16">
      <use href="./images/sprite.svg#arrow-rigth"></use>
    </svg>
  </li>
</ul>
