<ul class="pagination-l">
  <li class="btn-left-l">
    <svg width="16" height="16">
      <use href="./images/sprite.svg#arrow-left"></use>
    </svg>
  </li>
  <li class="pagination-number second-left-l"></li>
  <li class="pagination-number first-left-l"></li>
  <li class="pagination-number current-l">1</li>
  <li class="pagination-number first-right-l"></li>
  <li class="pagination-number second-right-l"></li>
  <li class="btn-right-l">
    <svg width="16" height="16">
      <use href="./images/sprite.svg#arrow-rigth"></use>
    </svg>
  </li>
</ul>
